<div class="container dashboard-container">
  <nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Sent bookings</button>
      <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Received bookings</button>
    </div>
  </nav>
  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
      <% @sent_bookings.each do |booking| %>
        <div class="entry-booking">
          <h3><%= booking.cow.name %></h3>
          <h5><%= booking.cow.description %></h5>
          <p><%= booking.start_date %></p>
          <p><%= booking.end_date %></p>
           <p><%= booking.status %></p>
        </div>
      <% end %>
    </div>
    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
      <% @received_bookings.each do |booking| %>
        <h2><%= booking.cow.name %></h2>
      <% if booking.status == "pending" %>
      <p class="space-description">You still have to accept or decline the booking.</p>
      <%= link_to 'Accept', accept_cow_booking_path(booking.cow_id,booking.id), method: :patch, class: "btn-confirm-booking" %>
      <%= link_to 'Decline', decline_cow_booking_path(booking.cow_id,booking.id), method: :patch, class: "btn-decline-booking" %>
      <% elsif booking.status == "confirmed" %>
      <%= link_to 'Cancel', decline_cow_booking_path(booking.cow_id,booking.id), method: :patch, class: "btn-decline-booking" %>
      <p class="booking-status-details-text">You have confirmed this booking.</p>
      <% else %>
      <p class="booking-status-details-text">You have declined this booking.</p>
      <% end %>
    <% end %>
  </div>
  <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">...</div>
</div>
</div>
