<div class="navbar-container">
<%= link_to root_path do %>
  <%= icon("fas", "cow") %>
<%end%>
  <div class="navbar-items">
    <button type="button" id="natvar-btn">
      <% if user_signed_in? %>
        <%= link_to "Upload your Cow!", new_cow_path %>
      <% end %>
    </button>
    <% if user_signed_in? %>
      <div class="dropdown">
      <% if current_user.photo.attached? %>
      <%= cl_image_tag current_user.photo.key, id:"dropdownMenuButton1", data: {bs_toggle:"dropdown"},'aria-expanded':false %>
        <ul class="dropdown-menu my-dropdown" aria-labelledby="dropdownMenuButton1">
          <li><%= link_to "Sign out", destroy_user_session_path, class: "dropdown-item", method: :delete %></li>
        </ul>
        <% end %>
      </div>
    <% else %>
    <button type="button" id="natvar-btn">
      <%=  link_to 'Sign in', new_user_session_path %>
    </button>
    <% end %>
  </div>
</div>
