<div class="cover mb-4 mt-5 d-flex align-items-center justify-content-center">
  <div class="text-center">
    <h3>Get to know our wonderful magnificents cows!</h3>
</div>
<%= form_tag cows_path, method: :get do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find a cow"
  %>
  <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>
 <br>
</div>
  <div class="container py-5 cards">
    <div class="row my-cards-container">
     <% @cows.each do |cow| %>
      <div class="col-12 col-sm-6 col-md-6 card-category justify-content-space-between my-card" >
        <%= cl_image_tag cow.photo.key, height: 200, width: 300, crop: :fill %>
         <br/>
      <div class="card-category cows">
        <h5><strong><%= cow.name %></strong></h5>
        <p><%= cow.description %></p>
        <%= link_to "See details", cow_path(cow), class: "button" %>
      </div>
    </div>
    <% end %>
  </div>
</div>

 <div> <%= link_to 'Home page', root_path %></div>
