<div class="container pt-5 col-md-5 form">
  <h2 class="text-center pb-3"><%= @cow.name %></h2>

  <%= simple_form_for @cow do |f| %>
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :photos, as: :file %>

    <div class="form-actions">
      <%= f.button :submit, "Upload cow information", class: "text-black" %>
    </div>
  <% end %>
</div>
