<div class="container pt-5 col-md-5 form">
  <%= simple_form_for @cow do |f| %>
    <div class="form-group">
        <%= f.input :name, label: 'Name your cow:', class:'text-decoration-none' %>
        <%= f.input :description, label: 'Describe your cow:', class:'text-decoration-none' %>
        <%= f.input :photo, as: :file %>
      <div class="form-actions d-flex justify-content-center mt-8" >
         <%= f.button :submit, "Upload cow information", class: "text-white" %>
      </div>
    </div>
  <% end %>
</div>
